{{ with .Site.Params.style }}
  <style>
    :root {
      {{ with .maxWidth }}--maxwidth: {{ . }};{{ end }}
      {{ with .bgColor }}--bgcolor: {{ . }};{{ end }}
      {{ with .fontColor }}--fontcolor: {{ . }};{{ end }}
      {{ with .mutedColor }}--mutedcolor: {{ . }};{{ end }}
      {{ with .linkColor }}--linkcolor: {{ . }};{{ end }}
      {{ with .visitedColor }}--visitedcolor: {{ . }};{{ end }}
      {{ with .accentColor }}--accentcolor: {{ . }};{{ end }}
      {{ with .borderColor }}--bordercolor: {{ . }};{{ end }}
      {{ with .preColor }}--precolor: {{ . }};{{ end }}
      {{ with .preBgColor }}--prebgcolor: {{ . }};{{ end }}
      {{ with .codeBgColor }}--codebgcolor: {{ . }};{{ end }}
    }
    @media (prefers-color-scheme: dark) {
      :root {
        {{ with .darkBgColor }}--bgcolor: {{ . }};{{ end }}
        {{ with .darkFontColor }}--fontcolor: {{ . }};{{ end }}
        {{ with .darkMutedColor }}--mutedcolor: {{ . }};{{ end }}
        {{ with .darkLinkColor }}--linkcolor: {{ . }};{{ end }}
        {{ with .darkVisitedColor }}--visitedcolor: {{ . }};{{ end }}
        {{ with .darkAccentColor }}--accentcolor: {{ . }};{{ end }}
        {{ with .darkBorderColor }}--bordercolor: {{ . }};{{ end }}
        {{ with .darkPreColor }}--precolor: {{ . }};{{ end }}
        {{ with .darkPreBgColor }}--prebgcolor: {{ . }};{{ end }}
        {{ with .darkCodeBgColor }}--codebgcolor: {{ . }};{{ end }}
      }
    }
  </style>
{{ end }}
