{{ with .Site.Params.style }}
  <style>
    :root {
      {{ with .maxWidth }}--maxwidth: {{ . }};{{ end }}
      {{ with .darkBgColor | default .bgColor }}--bgcolor: {{ . }};{{ end }}
      {{ with .darkFontColor | default .fontColor }}--fontcolor: {{ . }};{{ end }}
      {{ with .darkMutedColor | default .mutedColor }}--mutedcolor: {{ . }};{{ end }}
      {{ with .darkLinkColor | default .linkColor }}--linkcolor: {{ . }};{{ end }}
      {{ with .darkVisitedColor | default .visitedColor }}--visitedcolor: {{ . }};{{ end }}
      {{ with .darkAccentColor | default .accentColor }}--accentcolor: {{ . }};{{ end }}
      {{ with .darkBorderColor | default .borderColor }}--bordercolor: {{ . }};{{ end }}
      {{ with .darkPreColor | default .preColor }}--precolor: {{ . }};{{ end }}
      {{ with .darkPreBgColor | default .preBgColor }}--prebgcolor: {{ . }};{{ end }}
      {{ with .darkCodeBgColor | default .codeBgColor }}--codebgcolor: {{ . }};{{ end }}
    }
  </style>
{{ end }}
